// Typography
// --------------------------------------------------

$base-font: 'Lato', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: consolas,monaco,monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
	font-size: 0px + $doc-font-size;
}


// Colors
// --------------------------------------------------
$base-color : rgba(#222,0.8);
$header-color : rgba(#000,0.8);
$sub-item-color : rgba(#000, 0.1);
$header-margin : #F45145;
$menu-top : white;
$menu-height : 70px;
$menu-overflow : #2E2E2E;
$body-color : #e8e8e8;
$text-color : rgba(#222,0.8);
$comp-color : complement(#222);
$border-color : lighten(#222,60);
$white : #fff;
$black : #000;
$link-color : rgba(#222,0.8);

$primary : #222;
$success : #5cb85c;
$warning : #dd8338;
$danger : #C64537;
$info : #308cbc;

// colors from my vim
// hi Cursor ctermfg=232 ctermbg=15 cterm=NONE guifg=#272822 guibg=#f8f8f0 gui=NONE
// hi Visual ctermfg=NONE ctermbg=59 cterm=NONE guifg=NONE guibg=#49483e gui=NONE
// hi CursorLine ctermfg=NONE ctermbg=237 cterm=NONE guifg=NONE guibg=#3c3d37 gui=NONE
// hi CursorColumn ctermfg=NONE ctermbg=237 cterm=NONE guifg=NONE guibg=#3c3d37 gui=NONE
// hi ColorColumn ctermfg=NONE ctermbg=237 cterm=NONE guifg=NONE guibg=#3c3d37 gui=NONE
// hi LineNr ctermfg=102 ctermbg=237 cterm=NONE guifg=#90908a guibg=#3c3d37 gui=NONE
// hi VertSplit ctermfg=241 ctermbg=241 cterm=NONE guifg=#64645e guibg=#64645e gui=NONE
// " hi MatchParen ctermfg=197 ctermbg=NONE cterm=underline guifg=#f92672 guibg=NONE gui=underline
// hi MatchParen ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// " hi StatusLine ctermfg=15 ctermbg=241 cterm=bold guifg=#f8f8f2 guibg=#64645e gui=bold
// " current file status line
// " hi StatusLine ctermfg=226 ctermbg=241 cterm=bold guifg=#ffff00 guibg=#64645e gui=bold
// hi StatusLine ctermfg=16 ctermbg=227 cterm=NONE guifg=#000000 guibg=#ffff5f gui=NONE
// hi TabLineSel ctermfg=16 ctermbg=154 cterm=NONE guifg=#000000 guibg=#afff00 gui=NONE
// " hi TabLine ctermfg=16 ctermbg=227 cterm=NONE guifg=#000000 guibg=#ffff5a gui=NONE
// " not current(NC) status line
// hi StatusLineNC ctermfg=15 ctermbg=241 cterm=NONE guifg=#f8f8f2 guibg=#64645e gui=NONE
// hi Pmenu ctermfg=NONE ctermbg=59 cterm=NONE guifg=NONE guibg=#49483e gui=NONE
// hi PmenuSel ctermfg=NONE ctermbg=197 cterm=NONE guifg=NONE guibg=#f92672 gui=NONE
// hi PmenuSbar ctermfg=NONE ctermbg=7 guifg=NONE guibg=#c0c0c0
// hi PmenuThumb ctermfg=46 ctermbg=46 guifg=#00ff00 guibg=#00ff00
// hi IncSearch ctermfg=232 ctermbg=186 cterm=NONE guifg=#272822 guibg=#e6db74 gui=NONE
// hi Search ctermfg=0 ctermbg=228 cterm=NONE guifg=#000000 guibg=#ffff00 gui=NONE
// hi Directory ctermfg=141 ctermbg=NONE cterm=NONE guifg=#ae81ff guibg=NONE gui=NONE
// hi Folded ctermfg=242 ctermbg=232 cterm=NONE guifg=#75715e guibg=#272822 gui=NONE
// hi FoldColumn ctermfg=102 ctermbg=237 cterm=NONE guifg=#90908a guibg=#3c3d37 gui=NONE
// 
$code-fg: #ffffff;
$code-bg: #272822;
// hi Boolean ctermfg=141 ctermbg=NONE cterm=NONE guifg=#ae81ff guibg=NONE gui=NONE
// hi Character ctermfg=141 ctermbg=NONE cterm=NONE guifg=#ae81ff guibg=NONE gui=NONE
// hi Comment ctermfg=40 ctermbg=NONE cterm=NONE guifg=#00e000 guibg=NONE gui=NONE
// hi Conditional ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi Constant ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi Define ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi DiffAdd ctermfg=15 ctermbg=64 cterm=bold guifg=#f8f8f2 guibg=#46830c gui=bold
// hi DiffDelete ctermfg=88 ctermbg=NONE cterm=NONE guifg=#8b0807 guibg=NONE gui=NONE
// hi DiffChange ctermfg=15 ctermbg=23 cterm=NONE guifg=#f8f8f2 guibg=#243955 gui=NONE
// hi DiffText ctermfg=15 ctermbg=24 cterm=bold guifg=#f8f8f2 guibg=#204a87 gui=bold
// hi ErrorMsg ctermfg=15 ctermbg=197 cterm=NONE guifg=#f8f8f0 guibg=#f92672 gui=NONE
// hi WarningMsg ctermfg=15 ctermbg=197 cterm=NONE guifg=#f8f8f0 guibg=#f92672 gui=NONE
// hi Float ctermfg=141 ctermbg=NONE cterm=NONE guifg=#ae81ff guibg=NONE gui=NONE
// hi Function ctermfg=148 ctermbg=NONE cterm=NONE guifg=#a6e22e guibg=NONE gui=NONE
// hi Identifier ctermfg=81 ctermbg=NONE cterm=NONE guifg=#66d9ef guibg=NONE gui=italic
// hi Keyword ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi Label ctermfg=186 ctermbg=NONE cterm=NONE guifg=#e6db74 guibg=NONE gui=NONE
// " The "NonText" highlighting will be used for "eol", "extends" and "precedes".
// " "SpecialKey" for "nbsp", "tab" and "trail".
// hi NonText ctermfg=59 ctermbg=236 cterm=NONE guifg=#49483e guibg=#31322c gui=NONE
// hi Number ctermfg=141 ctermbg=NONE cterm=NONE guifg=#ae81ff guibg=NONE gui=NONE
// "hi Operator ctermfg=197 ctermbg=NONE cterm=NONE guifg=#d8d8d8 guibg=NONE gui=NONE
// hi Operator ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi PreProc ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi Special ctermfg=15 ctermbg=NONE cterm=NONE guifg=#f8f8f2 guibg=NONE gui=NONE
// "hi SpecialKey ctermfg=59 ctermbg=237 cterm=NONE guifg=#49483e guibg=#3c3d37 gui=NONE
// hi SpecialKey ctermfg=235 ctermbg=NONE cterm=NONE guifg=#262626 guibg=NONE gui=NONE
// hi Statement ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi StorageClass ctermfg=81 ctermbg=NONE cterm=NONE guifg=#66d9ef guibg=NONE gui=italic
// " hi String ctermfg=186 ctermbg=NONE cterm=NONE guifg=#e6db74 guibg=NONE gui=NONE
// hi String ctermfg=166 ctermbg=NONE cterm=NONE guifg=#df5f00 guibg=NONE gui=NONE
// hi Tag ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi Title ctermfg=15 ctermbg=NONE cterm=bold guifg=#f8f8f2 guibg=NONE gui=bold
// hi Todo ctermfg=95 ctermbg=NONE cterm=inverse,bold guifg=#75715e guibg=NONE gui=inverse,bold
// " hi Type ctermfg=NONE ctermbg=NONE cterm=NONE guifg=NONE guibg=NONE gui=NONE
// " hi Type ctermfg=27 ctermbg=NONE cterm=NONE guifg=#66d9ef guibg=NONE gui=NONE
// hi Type ctermfg=27 ctermbg=NONE cterm=NONE guifg=#409fff guibg=NONE gui=NONE
// hi Underlined ctermfg=NONE ctermbg=NONE cterm=underline guifg=NONE guibg=NONE gui=underline
// hi Exception ctermfg=81 ctermbg=NONE cterm=NONE guifg=#66d9ef guibg=NONE gui=NONE
// hi Typedef ctermfg=81 ctermbg=NONE cterm=NONE guifg=#66d9ef guibg=NONE gui=NONE
// " spell highlight
// hi SpellBad ctermfg=255 ctermbg=203 cterm=NONE guifg=NONE guibg=NONE gui=undercurl guisp=Red
// hi SpellCap ctermfg=255 ctermbg=12 cterm=NONE guifg=NONE guibg=NONE gui=undercurl guisp=Blue
// hi SpellRare ctermfg=255 ctermbg=13 cterm=NONE guifg=NONE guibg=NONE gui=undercurl guisp=Magenta
// 
// " customized colors for future use
// hi PureRed ctermfg=15 ctermbg=NONE cterm=NONE guifg=#ff0000 guibg=NONE gui=NONE
// hi PureGreen ctermfg=15 ctermbg=NONE cterm=NONE guifg=#00ff00 guibg=NONE gui=NONE
// hi PureBlue ctermfg=15 ctermbg=NONE cterm=NONE guifg=#0000ff guibg=NONE gui=NONE
// hi PureYellow ctermfg=15 ctermbg=NONE cterm=NONE guifg=#ffff00 guibg=NONE gui=NONE
// hi PureCyan ctermfg=15 ctermbg=NONE cterm=NONE guifg=#00ffff guibg=NONE gui=NONE
// hi PurePurple ctermfg=15 ctermbg=NONE cterm=NONE guifg=#ff00ff guibg=NONE gui=NONE
// hi PureGray ctermfg=15 ctermbg=NONE cterm=NONE guifg=#888888 guibg=NONE gui=NONE
// 
// hi BlackOnYellow ctermfg=16 ctermbg=227 cterm=NONE guifg=#000000 guibg=#ffff5f gui=bold
// 
// hi Red ctermfg=197 ctermbg=NONE cterm=NONE guifg=#f92672 guibg=NONE gui=NONE
// hi Green ctermfg=40 ctermbg=NONE cterm=NONE guifg=#00e000 guibg=NONE gui=NONE
// hi Blue ctermfg=27 ctermbg=NONE cterm=NONE guifg=#409fff guibg=NONE gui=NONE
// hi Yellow ctermfg=186 ctermbg=NONE cterm=NONE guifg=#e6db74 guibg=NONE gui=NONE
// hi Cyan ctermfg=81 ctermbg=NONE cterm=NONE guifg=#66d9ef guibg=NONE gui=none
// hi YellowGreen ctermfg=148 ctermbg=NONE cterm=NONE guifg=#a6e22e guibg=NONE gui=NONE
// hi Purple ctermfg=141 ctermbg=NONE cterm=NONE guifg=#ae81ff guibg=NONE gui=NONE
// hi Gray ctermfg=59 ctermbg=NONE cterm=NONE guifg=#49483e guibg=NONE gui=NONE
// 
// hi ErrorColor ctermfg=15 ctermbg=197 cterm=NONE guifg=#f8f8f0 guibg=#f92672 gui=NONE
// hi ErrorColor ctermfg=15 ctermbg=197 cterm=NONE guifg=#f8f8f0 guibg=#f92672 gui=NONE
// hi Url ctermfg=27 ctermbg=NONE cterm=underline guifg=#409fff guibg=NONE gui=underline
// hi def link UrlLink Url
// hi def link HttpLink UrlLink
// 
// hi Bold ctermfg=15 ctermbg=232 cterm=bold guifg=#f8f8f2 guibg=#272822 gui=Bold
// hi Italic ctermfg=15 ctermbg=232 cterm=bold guifg=#f8f8f2 guibg=#272822 gui=italic

// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";
